/*------------------------- General element styling -------------------------*/

html, body {
    background-color: #444444;
}

a {
    text-decoration: none;
}


/*------------------------- Navbar -------------------------*/

nav {
    background-color: #19647e;
}

.navbar {
    padding: 0;
}

.btn {
    border-radius: 0;
}

.nav-color {
    line-height: 1.6;
    border: none;
    background-color: #19647e;
}

.nav-color:hover {
    background-color: #444444;
}

.nav-link:hover {
    background-color: #444444;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
}

.categories {
    background-color: #444444;
}

.navbar-toggler {
    margin-right: 20px;
}

.nav-link {
    color: #eee5e5;
}


/*------------------------- Posts -------------------------*/

.post-card {
    background-color: #eee5e5;
    border-top: 3px ridge #ddcecd;
    border-bottom: 3px ridge #ddcecd;
}

.post-card * {
    color: #444444;
}

.brand {
    font-size: 50px;
}

.post-date {
    font-size: 15px;
}


/*------------------------- Extra tools for Users -------------------------*/

.logged-in-features {
    background-color: #ddcecd;
}

.sidebar-link {
    color: #444444;
}


/*------------------------- Footer -------------------------*/

footer {
    background-color: #19647e;
}